* {
  margin: 0;
  padding: 0;
  background-color: #eee;

}

#main_wrap {
  margin: 0 auto;
  width: 500px;
  height: 400px;
  margin-top: 140px;
  margin-left: 500px;
}

#logo_wrap {
  
  width: 480px;
  height: 80px;
  text-align: center;
  margin-bottom: 70px; 

}

#logo_wrap>img {
  width: 300px;
  
  
  
}

#login {
  width: 480px;
}


.insert {
  width: 400px;
  height: 50px;
  margin: 5px 5px 10px 40px;
  background-color: white;
  border: 2px solid white;
  border-radius: 5px;
  text-indent: 10px;
  font-size: 15px;
}

#login>input[type=submit] {
  width: 400px;
  height: 50px;
  margin: 5px 5px 30px 40px;
  background-color: #00B700;
  border: 1px solid #00B700;
  border-radius: 5px;
  color: white;
  font-size: 17px;
}